// Footer
.footer__logo {
  color: $color-primary;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer__logo {
    display: flex;
    align-items: center;
  }
}

// @media screen and (min-width: 768px) {
//   .footer__logo {
//     position: absolute;
//     left: 20%;
//   }
// }

.footer {
  background: #2f303a;
  padding: 60px;

  .footer__text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color-secondary;
    display: flex;
  }

  .footer__container {
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer__contact {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

  .footer__title {
    margin-top: 10px;
    margin-left: 130px;
  }

  .footer__paragraph {
    color: $color-secondary;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .footer__list {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
}

.footer__list > li {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
  .footer__logo {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .footer__title {
    position: relative;
    margin-right: 130px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__paragraph {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .footer__text {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: center;
  }
}

// Address footer

.address {
  .address__list {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 6px;
    display: flex;
    flex-direction: column;
  }
  .address__location {
    color: $color-secondary;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .address__list {
    margin-top: 22px;
  }
}

/* Footer icon*/
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $color-secondary;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: background-color 250ms $cubic;
  transition: border 250ms $cubic;

  &--circle:hover {
    border-radius: 50%;
    background-color: $color-primary;
  }

  &--circle:hover {
    border-radius: 50%;
    background-color: $color-primary;
  }
}

/* Footer form*/

.footer__button {
  margin-top: 10px;
  margin-left: 75px;
}

.footer__form {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .footer__form {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

.footer__label {
  margin-right: 12px;
}

.footer__input {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  font-family: 'Roboto';
  transition: border 250ms $cubic;

  &:focus,
  &:hover {
    border-color: $color-primary;
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .footer__button {
    position: relative;
    margin-right: 70px;
  }
}

.footer__svg {
  margin-left: 10px;
}

.footer__btn {
}

@media screen and (max-width: 1200px) {
  .footer__btn {
    margin-top: 12px;
  }
}
