// Logo header
.logo {
  color: $color-primary;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;
}

//Styles header
.header {
  .header__container {
    display: flex;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__navigation {
    display: flex;
    justify-content: space-evenly;
  }

  .header__list {
    margin-right: 50px;
    position: relative;
  }

  &__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    top: 45px;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $color-primary;
    border-radius: 2px;
  }
}

@media (max-width: 768px) {
  .header__list {
    display: none;
  }
}

.header__link {
  color: $color-titles;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}
.header__link.header__link--current {
  color: $color-primary;
}

/* Styles header contact */

.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

  &__list:hover {
    fill: $color-primary;
  }

  .contact__list {
    margin-right: 30px;
    transition-duration: 250ms;
    transition: color 250ms $cubic;
  }

  &__link:hover,
  &__link:focus {
    color: $color-primary;
  }

  &__link--current {
    color: $color-detail;
  }

  .contact__link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms $cubic;
  }
}

@media (min-width: 768px) {
  .contact {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .contact {
    display: none;
  }
}

// Styles header icons
.contact__icon {
  margin-right: 10px;
  transition: fill 250ms $cubic;
}

// Styles Portfolio
.header__portfolio {
  border: 1px solid #ececec;
}

/* Styles mobile menu */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  right: 32px;
  transition: fill 250ms $cubic;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $color-primary;
}

.icon__menu {
  position: absolute;
  right: 32px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $color-background;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms $cubic;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $color-background;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02px;
  color: $color-titles;
  font-family: 'Roboto';
  transition: color 250ms $cubic;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.mobile__link:focus,
.mobile__link:hover {
  color: $color-primary;
}

.mobile__contact {
  margin-top: 100px;
  padding: 10px;
  list-style: none;
  text-decoration: none;
  display: block;
}

.mobile__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02px;
  font-family: 'Roboto';
  color: $color-primary;
  text-decoration: none;
}

.mobile__mail {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02px;
  font-family: 'Roboto';
  color: $color-detail;
  text-decoration: none;
}

.mobile__social {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 150px;
  gap: 20px;
}

.mobile__social__media {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02px;
  text-decoration: none;
  font-family: 'Roboto';
  color: $color-primary;
}
