/* Regular customers */

.customers {
  .customers__title {
    color: $color-titles;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 44px;
  }

  .customers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .customers__item {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .customers__item {
    flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .customers__item {
    flex-basis: calc((100% - 90px) / 3);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    flex-basis: calc((100% - 150px) / 6);
    gap: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .customers__item {
    flex-basis: calc((100% - 150px) / 6);
    gap: 30px;
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $color-icons;
  cursor: pointer;
  height: 92px;
  border: 2px solid $color-icons;
  color: $color-titles;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  transition: fill 250ms $cubic;

  &:hover {
    fill: $color-primary;
    border: 2px solid $color-primary;
  }
}

// Customer icon 480+

@media screen and (max-width: 480px) {
  .customers__link {
    width: 210px;
  }
}

// Customer icon 768+

@media screen and (max-width: 768px) {
  .customers__link {
    width: 226px;
  }
}

// Customer icon 1200+
@media screen and (max-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

@media screen and (max-width: 1600px) {
  .customers__link {
    width: 170px;
  }
}
