.portfolio__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
  border-radius: 4px;
}

.portfolio__nav {
  color: $color-titles;
  background-color: $color-background;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms $cubic;
  transition: color 250ms $cubic;
  transition: background-color 250ms $cubic;

  &:focus,
  &:hover {
    color: $color-secondary;
    background-color: $color-primary;
  }
}

/* Cards portfolio */

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  .card__item {
    flex-basis: calc((100% - 60px) / 4);
  }
}

// Cards 1200+

@media screen and (max-width: 1200px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
  }
}

// Card item 1200

@media screen and (max-width: 1200px) {
  .card__item {
    flex-basis: calc((100% - 60px) / 2);
    gap: 30px;
  }
}

// Card item 768

@media screen and (max-width: 768px) {
  .card__item {
    flex-basis: calc((100% - 90px) / 1);
    gap: 30px;
  }
}

// Card item 768

@media screen and (max-width: 480px) {
  .card__item {
    flex-basis: calc((100% - 90px) / 1);
    gap: 30px;
  }
}

.card__link {
}

.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
  transform: translateY(0%);
}

.card__image {
  background: $color-secondary;
  border: 1px solid #eeeeee;
  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

// Card image 1200-

@media screen and (max-width: 1200px) {
  .card__image {
    width: 354px;
    height: 295px;
  }
}

// Card image 768-

@media screen and (max-width: 768px) {
  .card__image {
    width: 450px;
    height: 295px;
  }
}

// Card image 480-

@media screen and (max-width: 480px) {
  .card__image {
    width: 450px;
    height: 295px;
  }
}

.card__overlay {
  color: $color-secondary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transition: transform 250ms $cubic;
}

.card__footer {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__proyect {
  color: $color-titles;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06px;
}

// Card proyect 1200-

@media screen and (max-width: 1200px) {
  .card__proyect {
    width: 306px;
    height: 36px;
  }
}

// Card proyect 768-

@media screen and (max-width: 768px) {
  .card__proyect {
    width: 402px;
    height: 36px;
  }
}

.card__paragraph {
  color: $color-detail;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03px;
}

// Card paragraf 1200-

@media screen and (max-width: 1200px) {
  .card__proyect {
    width: 306px;
    height: 30px;
  }
}

// Card paragraf 768-

@media screen and (max-width: 768px) {
  .card__proyect {
    width: 402px;
    height: 30px;
  }
}

.images__portfolio {
}
@media screen and (max-width: 1200px) {
  .images__portfolio {
    width: 354px;
    height: 295px;
  }
}

@media screen and (max-width: 768px) {
  .images__portfolio {
    width: 450px;
    height: 295px;
  }
}
